@keyframes change-color {
  0% {background-color: red}
  15% {background-color: orange; top: 20px; left: 20px;}
  30%{background-color: yellow; top: 40px; left: 40px;}
  45%{background-color: green; top: 60px; left: 60px;}
  60%{background-color: blue; top: 80px; left: 80px;}
  75%{background-color: indigo; top: 100px; left: 100px;}
  100%{background-color: violet; top: 110px; left: 110px;}

}
.anime:hover{
  position: relative;
  animation-name: change-color;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
p{
  color: red;
}
